---
layout: default
title: Note
permalink: /notes
---
<div class="content_container">
  <h1>Note Topics:</h1>
  
  <div class="topics">
      <button class="filter_btn" onclick="filterProjects('All')">All</button>
      <button class="filter_btn" onclick="filterProjects('Kernel')">Kernel</button>
      <button class="filter_btn" onclick="filterProjects('Web')">Web</button>
      <button class="filter_btn" onclick="filterProjects('Example')">Example</button>
  </div>
</div>

<hr>
{% for post in site.posts %}
    {% if post.tag ==  "notes" %}
      <ul class="post-item" data-cats="{{post.categories | join: ','}}">
        <a href="{{ post.url }}" style="text-decoration: none; color: inherit;">
          <div class="projects">
          <h2 style="color: #0000EE;"> {{post.title}}</h2>
            {{ post.excerpt }}
          </div>
        </a>
        <hr class="project_hr" style="width:98%;text-align:center; margin-right:10%;">
      </ul>
    {% endif %}
{% endfor %}
<br>
