<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="robots" content="index,follow" />
<link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
<meta name="description" content="{% if page.description %}{{page.description}}{% else %}{{ site.description }}{% endif %}">
<link rel="stylesheet" href="/assets/css/style.css">
<script src="/assets/js/filter.js"></script>
<link rel="shortcut icon" type="image/x-icon" href="{{ "assets/images/favicon.ico" | prepend: site.baseurl }}" >

<title>{% if page.title %}{{page.title}}{% else %}{{ site.title }}{% endif %}</title>

<base href="{{ site.url }}">
